<html>
	<table width="100%" border="1" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="1" cellspacing="0" cellpadding="0">
					<tr>
					<td><h1><%= first_name%>Thank you for your order!</h1></td>
					</tr>
					<tr>
					<td><p>Order Number: <%= order_number%></p></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</html>