main{
	width:750px;
	margin: 0 auto;
	div.view{
		margin:10px;
		width:100%;
	}
	div#cart_wrapper{
		table{
			td{
				img{
					width:100px;
					height:100px;
					display:block;
					overflow: hidden;
				}
			}
		}
	}
}