main{
	width:750px;
	margin: 0 auto;
	div.view{
		margin:10px;
		width:100%;
	}
	div#cart_wrapper, div#checkout_wrapper{
		table{
			td{
				img{
					width:100px;
					height:100px;
					display:block;
					overflow: hidden;
				}
			}
		}

		div#cart_totals{
			float:right;
			p{
				text-align:right;
			}
		}
	}
	div#checkout_wrapper{
		button.checkout{
			width:100%;
			border:0 none;
			border-bottom:1px solid #cccccc;
			background:none;
			display:block;
			float:left;
			text-align:left;

			&.disabled{
				opacity:0.2;
			}
		}
		div.checkout_inner{
			display:block;
			width:100%;
			float:left;
			padding:10px;

			&.disabled{
				display:none;
			}
		}
		div.step1{
			display:block;
		}
	}
}